.pagebut{
    margin: auto;
}
.navbar-name{
    color:white;
    font-weight:bold;
    font-size: 20px;
}
.option{
    text-decoration: none;
}
.button {
    width: 100%;
    text-decoration:none;
    background-color: #4c4eaf;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  a{
    text-decoration: none !important
  }
  .salary{
      width: max-content;
      padding-left:5px;
      padding-right:5px;
  }
  ul{
      list-style-type:none;
      margin:0;
      padding:0;
  }
  #title{
    padding: 0 !important;
  }
  .advertisement{
    margin: 50px;
  }
  li{
    padding:0;
    margin:0;
  }
  #navbar{
    list-style-type: none;
    padding-left: 10%;
    padding-right: 11%;
    overflow: hidden;
    background-color: rgb(11, 166, 228);
  }
  li a:hover {
    background-color: rgb(11, 176, 240);
  }